
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    /*border:  2px solid slateblue;*/
}

:root 
{
    --bg: #f686bd;
    --rosa-oscuro:  #78415B;
    --white: #F5F5F5;
    --rosa-claro:  #FFC2D5;
    --gray: #383838;
    --morado: #827397;
    --tamaño-fuente:  2.5rem;
    --fuente: 'Courgette', cursive ;
}

body 
{
    min-height: 100vh;
    width: 100%;
    color: #151515;
}

h1{font-size: 3rem;}
h2{ font-size: 2rem; }
h3{font-size: 1.5rem;}
p{ font-size: 1rem; }
.btns
{
    /*background-color: var(--bg);*/
    border:  2px solid var(--white);
    display: inline-block;
    color: var(--bg);
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.20rem;
    letter-spacing: 2px;
    box-shadow: inset 0px 0px 40px 40px var(--white);
}



/*MENU */
nav 
{
    background-color: var(--white) ;
    width: 100%;
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0px 5px 4px #0003;
    z-index: 99;
   

}

nav a 
{
    color: var(--text);
}

nav .header 
{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center ;
    justify-content: space-between;
}



nav .header_logo
{
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.8rem;
    color:  var(--bg);
    font-family: var(--fuente);

}


nav .icon > div 
{
    width: 30px;
    height: 4px;
    margin:  5px 0;
    transition:  ease 0.5s;
    background-color: var(--bg);
}

.icon.equis  > div:nth-child(1){
    transform: translateY(9px) rotate(45deg);
transition:  ease 0.5s;
}
.icon.equis  > div:nth-child(2){
    opacity: 0;
    transition:  ease 0.5s;
    transform: translateX(100%);
}
.icon.equis > div:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
    transition:  ease 0.5s;
}



nav .mobile_links 
{
   background-color: var(--white);
   position: fixed;
   width: 60%;
   height: 100vh;
   right:0;
   top: 60px;
   transition: transform ease 0.5s;
   display:  flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transform: translate(100%,0);
   z-index: 98;

}

nav .mobile_links.active 
{
   transform: translate(0,0);
   transition: transform ease 1.6s;
    z-index: 98;

}

nav .mobile_links.active .container-links 
{
    transform: translateY(0);
    transition: ease 1.5s;
}

nav .container-links 
{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  20px;
    transform:  translateY(-200%);
    transition: ease 0.5s;


}


nav .mobile_links  a
{
    padding: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    color:  var(--bg);
}


/* DESKTOP MENU  */

nav .desktop 
{
    display: none;
}


/* SECTION HERO  */

#hero 
{
    background: linear-gradient(rgba(0, 0, 0, 0.806), rgba(0, 0, 0, 0.825))
    ,url('assets/heropicture.jpg')
    ;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 80vh;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero_container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

#hero h1 
{
    color: var(--bg);
    letter-spacing: 4px;
    font-size: 2.6rem;
    font-family: var(--fuente);

}


#hero p 
{
    width: 90%;
    margin: 0 auto;
    color: var(--white);
}



/* BENEFICIOS  */


.beneficios 
{
    background: var(--text);
    text-align: center;
}

.beneficios_container 
{
    width: 100%;
    padding: 3rem 0;
    display: grid;
    gap:  5rem;
}

.beneficios_cards 
{
    padding: 50px 0;
}

.card{
  padding: 0 1rem;
}

.beneficios_container ion-icon{
    font-size: 3rem;
    color: var(--bg);
    margin: 0 auto;
    animation: saltar ease 1s infinite;
}

/*numeros iconos */
.fa-solid {
  font-size: 5rem;
}

@keyframes saltar{
    0%{ transform: translateY(5px); }
    50%{ transform: translateY(-5px); }
    100%{ transform: translateY(5px); }
}

.beneficios_img
{
   
    width: 100px;
    height: 100px;
}

.beneficios_title span 
{
    color: var(--bg);
     font-family: var(--fuente);

}

.beneficios h2 
{
    letter-spacing: 1px;
     font-family: var(--fuente);
    font-size: var(--tamaño-fuente);
    color:  var(--gray);


}

.beneficios h3 
{
    font-size: 2.3rem;
    letter-spacing: 3px;
    color:  var(--gray);
}

.beneficios  p 
{
    color:  var(--rosa-oscuro);
    width: 250px;
    margin:  0 auto;
    font-size: 1.4rem;
}

/*ABOUT */

.about 
{
    text-align: center;
    background-color: var(--rosa-claro);
    color:  var(--rosa-oscuro);
}

.about__container 
{
    padding: 50px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  3rem;
}

.about__image{
    background-image: url('assets/perfilandy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about__card{
    width: 90%;
    display:  grid;
    grid-template-rows: repeat(2, 200px);
    background-color: var(--white);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 20px -5px #0005;
}


.about__texts{
    place-self: center;
    padding: 0 1rem;

}
.about__title,
.about__logo{
  /*color: #827397;*/
  color:  var(--gray);
}

.about__title{
    font-size: var(--tamaño-fuente);
    letter-spacing: 4px;
    font-family: var(--fuente);
}

.about__logo{
    font-size: 2.5rem;
}




.about__title--2{
    font-size: 2rem;
    letter-spacing: 3px;
}

.about__paragraph{
    line-height: 1.7rem;
    color: var(--gray);
}

/*MIS TRABAJOS */

.work {
    background-color: var(--fuente);
}

.work__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    text-align: center;
    padding: 2rem 0;
}

.work__title{
    text-align: center;
    font-family: var(--fuente);
    font-size: var(--tamaño-fuente);
}

.work__title,
.work__logo{
     color: var(--gray);
}

.work__images{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 400px);
    gap: 1.4rem;
}

.work__image{
    background-image: url('assets/img-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.work__image-2{
    background-image: url('assets/img-2.jpg');
}

.work__image-3{
    background-image: url('assets/img-3.jpg');
}

.work__image-4{
    background-image: url('assets/img-4.jpg');
}




.work__logo{
   font-size: 2rem;
   animation: fade ease 2.5s infinite alternate;
  
}

/*ANIMACION PARA EL LOGO WORK */
@keyframes fade{
    0%{ opacity: 0 }
    50%{opacity: 0.5}
    100%{opacity: 1}
}