
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    /*border:  2px solid slateblue;*/
}

:root 
{
    --bg: #f686bd;
    --rosa-oscuro:  #78415B;
    --white: #F5F5F5;
    --rosa-claro:  #FFC2D5;
    --gray: #383838;
    --color-texto: #02020a;
    --morado: #827397;
    --tamaño-fuente:  2.5rem;
    --tamaño-icons:  2.4rem;
    --fuente: 'Courgette', cursive ;
}

body 
{
    min-height: 100vh;
    width: 100%;
    color: #151515;
}


.btns
{
    /*background-color: var(--bg);*/
    border:  2px solid var(--white);
    display: inline-block;
    color: var(--bg);
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 30px;
    font-size: 1.20rem;
    letter-spacing: 2px;
    box-shadow: inset 0px 0px 40px 40px var(--white);
}



/**********************MENU ************/


nav{
    background-color: var(--bg);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 99;
}

.nav__logo {
    font-size: 1.5rem;
    color: var(--white);
}


.nav__icon .line{
    width: 30px;
    height: 4px;
    margin: 5px 0;
    border-radius: 3px;
    background: var(--white);
    position: relative;
    z-index: 98;
    transition:  ease 0.5s;
}

/******* ANIMACION ICONO JS ******/



.nav__icon.active .line--1{
    transform: rotate(45deg) translateY(13px);
    transition: transform ease 0.5s;
    
}
.nav__icon.active .line--2{
    opacity: 0;
    transition: opacity ease 0.5s;
}
 .nav__icon.active .line--3{
    transform: rotate(-45deg) translateY(-13px);
    transition: transform ease 0.5s;
}

.nav__menu.active{
    transition:  transform ease .5s;
    transform: translateX(0%);
}

.nav__menu{
    background: var(--bg);
    position: fixed;
    top: 60px;
    right: 0;
    transform: translateX(400%);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    transition:  ease .5s;
}

.nav__menu a{
    color: var(--white);
    display: block;
    padding: 10px 0;
    font-size: 1.3rem;
}

/******** ANIMACION JS  **********/
.nav__menu.active{
    transform: translateX(0%);
    transition: transform ease 0.4s;
}


/* SECTION HERO  */

#hero 
{
    background: linear-gradient(rgba(0, 0, 0, 0.806), rgba(0, 0, 0, 0.825))
    ,url('assets/heropicture.jpg')
    ;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero_container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

#hero h1 
{
    color: var(--bg);
    letter-spacing: 4px;
    font-size: 2.6rem;
    font-family: var(--fuente);

}


#hero p 
{
    width: 90%;
    margin: 0 auto;
    color: var(--white);
}



/* BENEFICIOS  */


.beneficios 
{
    text-align: center;
  
}
.beneficios_container{
    background-color: var(--bg);
    padding: 3rem 0;

}

.container-cards
{
    padding: 4rem 0 1rem 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3, 250px);
    gap:  6rem;
}

.beneficios_cards 
{
    padding: 50px 0;
}

.card{
  padding: 0 1rem;
}

.fa-arrow-down{
    color: var(--white);
    margin: 0 auto;
    font-size: 3rem;
    animation: saltar ease 1s infinite;
}

/*numeros iconos */
.fa-solid.fa-1, 
.fa-solid.fa-2,
.fa-solid.fa-3 {
  font-size: 5rem;
}

@keyframes saltar{
    0%{ transform: translateY(5px); }
    50%{ transform: translateY(-5px); }
    100%{ transform: translateY(5px); }
}


.beneficios_title span 
{
    color: var(--white);
}
.beneficios h2,
.beneficios h3,
.beneficios  p {
    color: var(--color-texto);
}

.beneficios h3,
.beneficios  p {
    margin: 10px 0;
}



.beneficios h2 
{
    letter-spacing: 1px;
    width: 90%;
    margin: 0 auto;
    font-size: var(--tamaño-fuente);

}

.beneficios h3 
{
    font-size: 2.3rem;
    letter-spacing: 3px;
}

.beneficios  p 
{
    width:  90%;
    margin:  10px auto;
    font-size: 1.2rem;
}

/*ABOUT */

.about 
{
    text-align: center;
}

.about__container 
{
    padding: 50px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  3rem;
    background-color: var(--white);
}

.about__image{
    background-image: url('assets/perfilandy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about__card{
    width: 90%;
    display:  grid;
    grid-template-rows: repeat(2, 200px);
    background-color: var(--white);
    overflow: hidden;
    border-radius: 5px;
    align-self: center;
    box-shadow: 1px 1px 20px -5px #0005;
}


.about__texts{
    padding: 0 1rem;

}
.about__title,
.about__logo{
  color:  var(--gray);
}


.about__header {
    position: relative;

}
.about__title{
    font-size: var(--tamaño-fuente);
    letter-spacing: 4px;
    margin-left:  20px;
    color: var(--color-texto);
}


.about__logo{
    font-size: var(--tamaño-fuente);
}



.about__title--2{
    font-size: 2rem;
    letter-spacing: 3px;
}

.about__paragraph{
    line-height: 1.7rem;
    color: var(--gray);
}

/*MIS TRABAJOS */



.work__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    background-color: var(--bg);
}

.work__title{
    font-size: var(--tamaño-fuente);

}



.work__title{
     color: var(--color-texto);
}

.work__images{
    display: grid;
    grid-template-columns: repeat(1,350px);
    gap: 1.4rem;
    border-radius: 30px;
}

 
 .work__image{
    margin:  0 auto;

 } 
 .work__image img {
    border-radius: 10px;
 }

.work__image,
.work__image img{
    width: 90%;
    height: 100%;
    object-fit: cover;

}




.work__logo{
   font-size: var(--tamaño-fuente);
   animation: fade ease 2.5s infinite alternate;
  
}

/*ANIMACION PARA EL LOGO WORK */
@keyframes fade{
    0%{ opacity: 0 }
    50%{opacity: 0.5}
    100%{opacity: 1}
}

/*TABLAS PRECIOS*/

.precios__container{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem ;
    gap:  3rem;
}

.contenedor__precios {

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 5rem;
    display:  grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.precios .card{
    padding: 2rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-texto);
    border-radius: 10px;
}

a.precios__cta{
    padding: 4px 20px;
    box-shadow: inset 2px 2px 4px #0003;
    color: var(--bg);
}

.precios h3{
    letter-spacing: 4px;
    font-size: 2rem;
}

.precios span{
    color:  var(--gray);
    font-size: 1.1rem;
}



.precios p{
    font-size: 1.2rem;
    font-weight: 700;
}

.nutricion__title{
    width: 220px;
}

/* FOOTER  */

.footer__container{
    background-color: var(--bg);
    width: 100%;
    height: 60vh;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: relative;

}

/*animacion */

.footer__bubles{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    display:  flex;
    justify-content: space-between;
}

.buble{
    width: 10px;
    height: 10px;background-color: var(--white);
    border-radius: 100%;
    filter: blur(2px);
    animation:  nieve ease 4s infinite ;
}


@keyframes nieve {
    0%{
        opacity: 0;
        transform:  translateY(0);
    }
    50%{
        opacity: 1;

    }

    70%{
        opacity: 1;

    }
    
    100%{
        opacity: 0;
        transform:  translateY(58vh);
    }

}

.buble:nth-of-type(1){ animation-delay: 1s; }
.buble:nth-of-type(2){ animation-delay: 2.5s; }
.buble:nth-of-type(3){ animation-delay: 3.5s; }
.buble:nth-of-type(4){ animation-delay: 4.5s; }
.buble:nth-of-type(5){ animation-delay: 5s; }
.buble:nth-of-type(6){ animation-delay: 6.5s; }
.buble:nth-of-type(7){ animation-delay: 7s; }


.footer__social{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #0001;
    padding: 20px 0;

}

.footer__title{
    font-size: 2rem;
}

.fa-brands.footer__media{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: bold;
   

}

.footer span.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social-franco{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.footer__social-franco span{
  font-size: 1.2rem;
}


.footer__social,
.franco__media{
     justify-content: center;
     gap:  1rem;
}


.franco__media{
    display: flex;
    align-items: center;
    width: 100%;
}



/*********MEDIAS QUERYS ***********/


@media (min-width: 400px){
  .beneficios h2{
    font-size: 2rem;
  }
}

/*TABLETS */
@media (min-width: 768px){


.beneficios_container 
{
    width: 100%;
    padding: 5rem 0;
    display: grid;
    gap:  1rem;
}


.container-cards
{
    padding: 5rem 0;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1, 1fr);

}


.beneficios  p 
{
    width:  60%;
}


/*ABOUT */
.about 
{
    text-align: center;
}

.about__title{
    letter-spacing: var(--espacio-letras);
}

.about__container 
{
    padding: 50px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  3rem;
    background-color: var(--white);
}



.about__card{
    width: 80%;
    grid-template-rows: repeat(2, 300px);
    align-self: center;
}


.about__texts{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

/* work  */


.work__container{
    padding: 6rem 2rem;
}

.work__images{
    display: grid;
    grid-template-columns: repeat(2,300px);
}

.work__image img,
.work__image{
    width: 100%
}

/*PRECIOS */

.precios__container{
    padding: 4rem ;
}


.precios .card{
    width: 60%;
    margin:  0 auto;
    margin-top: 2rem;
}


/*footer */
.footer__social-franco span{
  font-size: 1.5rem;
}





}






/*********************LAPTOPS ****************/

@media (min-width:920px){

:root{
    --espacio-letras:  6px;
}
/**********************MENU ************/


nav{
    background-color: var(--bg);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 99;
}

.nav__menu a,
.nav__logo{
  
    font-weight: 700;

}

.nav__logo {
    color: var(--white);
    font-family: var(--fuente);
    font-size: 1.5rem;
}


.nav__icon .line{
    display: none;
}


.nav__menu{
    position: static;
    height: 100%;   
    transform: none;
    transition: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4,max-content);
    width: 100%;
    justify-content: end;
    align-content: center;
    column-gap: 3rem;
}

.nav__menu a{
      font-size: 1.2rem;
}


.cta-active{
    background-color: var(--color-texto);
    display: inline-block;
    border-radius: 40px;
    width: 120px;
}


.nav__menu a:hover{
    filter: opacity(90%);
}



  /* SECTION HERO  */

#hero 
{
  
background-attachment: fixed;
}

#hero h1{
    font-size: 4rem;
}
#hero p{
    width: 500px;
}
/*beneficios */

.beneficios h2 
{
    letter-spacing: var(--espacio-letras);

}
  
.beneficios_container{
  padding: 3rem 0;
}

.container-cards
{
    padding: 5rem 0;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: baseline;

}

.beneficios  p 
{
    width:  100%;
}


/*ABOUT */
.about 
{
    text-align: center;
}

.about__container 
{
    padding: 50px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  3rem;
    background-color: var(--white);
}



.about__card{
    width: 80%;
    grid-template-rows: repeat(2, 300px);
    align-self: center;
}


.about__texts{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

/* work  */


.work__container{
    padding: 6rem 2rem;
}

.work__title{
    letter-spacing: var(--espacio-letras);

}


.work__images{
    grid-template-columns: repeat(1,450px);
    gap: 1.5rem;
    border-radius: 30px;
}

 

.work__image{

    width: 100%;
    height: 100%
}

.work__image img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}


/*PRECIOS */


.precios h2{
    letter-spacing: var(--espacio-letras);
}

.precios__container {

    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(2, max-content);
    place-content:  center;
}

.contenedor__precios {

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
}

.precios .card{

    width: 100%;
    height: 100%

}

.precios__lista{
  display:  grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 2rem;
}


.precios__lista div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*about */


.about__container 
{
    padding: 50px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  3rem;
    background-color: var(--white);
}



.about__card{
    width: 70%;
    grid-template-rows: repeat(1, 350px);
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
}


.about__texts{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

/* work  */


.work__container{
    padding: 6rem 2rem;
}

.work__images{
    display: grid;
    grid-template-columns: repeat(2,400px);
}

.work__image img,
.work__image{
    width: 100%;
}



/*footer */

.footer__title{
    letter-spacing: var(--espacio-letras);
}

.franco__media .circle:hover,
.footer__social .circle:hover{
  background-color: var(--color-texto);
  cursor: pointer;
}

}